.woocommerce-product-search {
  position: relative;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;

  label {
    width: 100%;
    margin-bottom: 0;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
  }
}

.search-field {
  border: 0;
  outline: 0;
  padding: 1rem 1.5rem;
  width: 90%;
  border-radius: 5px;
  background-color: #F6F6F6;

  &::placeholder {
    color: #212121;
    opacity: 0.5;
  }
}

.search-submit {
  width: 10%;
  background-color: #E93818;
  border: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item {
  .icon {
    width: 2.4rem;

    &.fixed-ic {
      position: fixed;
      z-index: 9999;
      top: 13px;
      right: 11%;
    }
  }

  .text {
    width: calc(100% - 2.4rem);
  }
}

#number-cart {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  top: -5px;
  left: 80%;
  background-color: #E93818;
  font-size: 0.9rem;
}

.woocommerce {
  ul.products {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &.cat-pro-content-ft {
      li.product.type-product {
        border: 0.1px solid #F2F2F2;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .pro-item-content {
          padding: 6rem !important;

          .trademark {
            font-size: 1.8rem;
          }

          .woocommerce-loop-product__title {
            font-size: 2.4rem;
            margin-bottom: 1.5rem !important;
          }
        }

        .image-cover {
          height: 40rem;
          border: 0;
          padding: 0 8rem;
        }

        .price {
          width: 70%;
          font-size: 1.6rem;
          font-weight: 500;
          color: #00AA1C;

          ins {
            font-size: 2.4rem;
            font-weight: 500;
            color: #00AA1C;
            text-decoration: none;
            display: block;
          }

          del {
            font-size: 1.6rem;
          }
        }

        .btn-holder {
          right: 6rem;
          bottom: 10rem;
        }

        .button {
          border-radius: 50%;
          width: 3.6rem;
          height: 3.6rem;

          svg {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }

    &.cat-pro-content {
      li.product.type-product {
        width: 33%;
      }
    }

    &.columns-4 {
      justify-content: unset;

      li.product.type-product {
        width: 25%;
      }
    }

    li.product.type-product {
      width: 16.6%;
      margin: 0;

      > a {
        color: #414141;
        display: inline-block;
        width: 100%;

        > .image-cover {
          padding: 1.5rem;
          border: 0.1px solid #F2F2F2;
          height: 23rem;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            margin-bottom: 0;
          }
        }

        &:hover {
          .woocommerce-loop-product__title {
            color: #E93818;
          }
        }

        .woocommerce-loop-product__title {
          font-size: 1.4rem;
        }
      }

      .onsale {
        top: 1rem;
        left: 1.5rem;
        right: inherit;
        margin: 0;
        min-height: auto;
        min-width: auto;
        font-size: 1.6rem;
        padding: 0.1rem 0.6rem;
        border-radius: 0;
        line-height: inherit;
        font-weight: 500;
        background-color: $red;
      }

      .price {
        margin-top: 1rem;
        width: 70%;
        font-size: 1.6rem;
        font-weight: 500;
        color: #00AA1C;
        display: flex;
        flex-direction: column-reverse;

        ins {
          font-size: 1.6rem;
          font-weight: 500;
          color: #00AA1C;
          text-decoration: none;
        }

        del {
          font-size: 1.2rem;
          color: #B4B4B4;
          font-weight: 400;
        }
      }

      .btn-holder {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
      }

      .button {
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        margin-top: 0;
      }
    }
  }
}

.woocommerce #respond input#submit.loading::after, .woocommerce a.button.loading::after,
.woocommerce button.button.loading::after, .woocommerce input.button.loading::after {
  top: 5px;
  right: 5px;
}

#breadcrumb {
  display: flex;
  align-items: flex-end;

  .breadcrumb {
    background-color: #f2f2f2;
  }

}

.woocommerce-breadcrumb {
  margin-bottom: 0 !important;
  color: #575757;
  font-weight: 500;
  position: relative;

  &:before {
    content: '\f015' !important;
    display: inline-flex !important;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    font-family: FontAwesome;
    color: #E93818;
    height: 2.5rem;
    font-size: 2.1rem;
  }

  a {
    color: #575757;

    &:hover {
      color: #E93818;
    }

    &:first-child {
      opacity: 0;
      width: 20px;
      display: inline-block;
      height: 19px;
      overflow: hidden;
    }
  }
}

.sidebar-product {
  list-style: none;

  .widgettitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;

    &:before {
      content: url(../images/menu.svg);
      width: 1.5rem;
      display: inline-block;
      margin-right: 1rem;
    }
  }

  a {
    color: #414141;
    font-size: 1.6rem;
    padding: 1rem 0;
    display: inline-flex;
    border-top: 0.5px dashed rgba(0, 0, 0, 0.2);
    width: 100%;

    &:hover {
      color: $red;
    }
  }

  > .widget {
    margin-bottom: 2rem;
    background-color: #F2F2F2;
    border-radius: 8px;
    padding: 1.5rem 2rem;
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  .cat-parent {
    &.active {
      &:after {
        content: "\f068";
      }
    }

    .children {
      li {
        position: relative;

        &:before {
          content: url("../images/icon-cat-pro.svg");
          position: absolute;
          top: 0;
          left: 0;
          height: 4.5rem;
          display: inline-flex;
          align-items: center;
        }
      }

      a {
        padding-left: 2rem;
      }

      .children {

        li {
          &:before {
            content: '-';
            left: 2rem;
          }
        }

        a {
          padding-left: 4rem;
        }
      }
    }
  }
}

.sidebar-product {
  .current-cat {
    > a {
      color: $red !important;
    }
  }
}

.product-categories > .cat-parent {
  position: relative;

  > .children {
    display: none;
  }

  &:after {
    content: "\f067";
    font-family: FontAwesome;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    color: #787878;
    display: flex;
    align-items: center;
    height: 4.5rem
  }
}

.wpf_items_wrapper {
  > div {
    border-top: 0.5px dashed rgba(0, 0, 0, 0.2);
  }

  .wpf_item {
    .wpf_item_name {
      text-transform: capitalize;
      font-size: 1.6rem;
      border-bottom: 0;
      padding-bottom: 0;
    }

    li {
      label {
        margin-bottom: 0;
      }
    }

    input[type="checkbox"] {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 2px;
      box-shadow: inset 0 0 0 8px #fff;

      &:checked {
        background-color: $red;
        box-shadow: inset 0 0 0 3px #fff;

        &:before {
          content: '';
        }
      }
    }
  }
}

.irs-with-grid .irs-grid {
  display: none !important;
}

.woocommerce nav.woocommerce-pagination ul {
  border: 0;

  li {
    border: 0;
  }
}

.woocommerce-result-count, .woocommerce-ordering {
  display: none;
}

.pro-item-content {
  .light {
    span {
      margin-left: -5px;
    }

    span {
      &:last-child {
        display: none;
      }
    }
  }
}

.wpf_items_wrapper {
  .wpf_slider.ui-slider {
    background-color: #8F8F8F;
    border-radius: 3px;
    height: 9px;
  }

  .wpf_slider.ui-slider .ui-widget-header {
    background-color: #fff;
    border: 1px solid rgba(112, 112, 112, 0.2);
  }

  .wpf_slider.ui-slider .ui-slider-handle {
    width: 1.4rem;
    height: 1.4rem;
    border: 1px solid rgba(112, 112, 112, 0.3);
    background-color: #8F8F8F;
    box-shadow: inset 0 0 0 2px #fff;
    top: 50%;
    transform: translateY(-50%);
  }

  .wpf-slider-tooltip {
    transform: translateX(-50%);
    color: #fff;
    background-color: #8F8F8F;
    border-radius: 3px;
    padding: 0;
    bottom: 120%;
  }
}

#single-product {
  .woocommerce-breadcrumb {
    display: none;
  }

  .woocommerce-message {
    display: none;
  }

  .woocommerce-product-gallery {
    > .woocommerce-product-gallery__wrapper {
      border: 1px solid rgba(112, 112, 112, 0.3);
      border-radius: 8px;
      height: max-content !important;
    }
  }

  .flex-viewport {
    border: 1px solid rgba(112, 112, 112, 0.3);
    border-radius: 8px;
    height: max-content !important;
  }

  .woocommerce-product-gallery__image {
    a {
      display: inline-flex;
      width: 100%;
      padding: 3rem 2rem;
      height: 40rem;
    }
  }

  div.product {
    div.images {
      width: 49%;

      .flex-control-thumbs {
        padding: 0 1.5rem;
        margin-top: 1.5rem;
        justify-content: space-between;
        display: flex;

        li {
          width: 31%;
          height: 10rem;

          img {
            border: 1px solid rgba(112, 112, 112, 0.3);
            border-radius: 8px;
            padding: 1rem;
            height: 100%;
            width: 100%;
            object-fit: contain;

            &.flex-active {
              border: 1px solid $red
            }
          }
        }
      }
    }
  }

  .summary {
    font-size: 1.6rem;

    label {
      font-weight: 400;

      strong {
        font-weight: 400;
      }

    }

    .product_title {
      text-transform: uppercase;
      padding: 1rem 0;
      font-size: 1.8rem;
    }

    .pro-item-content {
      strong {
        font-weight: 400;
      }
    }

    .price {
      display: flex;
      align-items: center;

      ins {
        font-size: 2rem;
        font-weight: 500;
        color: #00aa1c;
        text-decoration: none;
        padding-right: 1.5rem;
      }

      del {
        font-size: 1.3rem;
        color: #b4b4b4;
        font-weight: 400;
      }
    }
  }
}

.woocommerce-product-details__short-description {
  p {
    margin-bottom: 0;
  }
}

.woocommerce-cart-form {
  .buttons_added {
    display: none;
  }
}

.woocommerce div.product {
  form.cart div.quantity {
    position: relative;
    display: flex;
    align-items: center;
    width: max-content;

    .input-text {
      height: 4.4rem;
      border-radius: 6px;
      border: 1px solid rgba(112, 112, 112, 0.5);
      width: 6.5rem;
      font-size: 1.6rem;
      border-right: 0;
      text-align: left;
      padding-left: 1.8rem;
      outline: 0;
    }

    .screen-reader-text {
      display: inline-flex;
      position: static !important;
      height: auto;
      width: auto;
      padding-right: 20px;
      margin-bottom: 0;
    }
  }

  .woocommerce-tabs {
    ul.tabs {
      border-bottom: 2px solid #f2f2f2;
      padding-left: 0;

      &:before {
        display: none;
      }

      li {
        text-transform: uppercase;
        background-color: transparent;
        border: 0;

        &.active {
          background: #f2f2f2;
          border-radius: 4px 4px 0 0;
        }

        &:before, &:after {
          display: none;
        }

        a {
          font-weight: 500;
          padding: 1rem 0.5rem;
          font-size: 1.6rem;
        }
      }
    }
  }
}

.buttons_added {
  position: absolute;
  right: -2px;
  display: flex;
  flex-wrap: wrap;
  width: 2.5rem;
  height: 4.4rem;
  border-radius: 0 6px 6px 0;
  z-index: 9;
  background-color: #fff;
  border: 1px solid rgba(112, 112, 112, 0.5);

  button {
    background-color: transparent;
    border: 0;
    display: inline-block;
    padding: 0;
    font-size: 17px;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 50%;
    line-height: 1;

    &:first-child {
      border-bottom: 1px solid rgba(112, 112, 112, 0.5);
      margin-top: 1px;
    }
  }
}

.woocommerce div.product form.cart {
  margin-bottom: 1rem;

  .button {
    background-color: $red;
    font-size: 1.6rem;
    text-transform: uppercase;
    height: 4.4rem;
    font-weight: 500;
    margin-left: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 8px;
  }
}

.woocommerce-variation-add-to-cart {
  border-top: .5px dashed rgba(0, 0, 0, .2);
  border-bottom: .5px dashed rgba(0, 0, 0, .2);
  display: inline-block;
  width: 100%;
  padding: 2.5rem 0;
}

.product_meta {
  > span {
    width: 100%;
    display: inline-block;
    padding-bottom: 0.5rem;

    span {
      font-weight: 200;
    }

    a {
      font-weight: 200;
    }
  }
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  display: inline-block;
  font-weight: 500;
  background-color: $red;
  padding: 1rem 2rem;

  &:hover {
    background-color: #ca2608;
  }
}

.col2-set {
  margin-bottom: 2rem;
  .col-1, .col-2 {
    max-width: 100%;
    flex: unset;
    width: 100% !important;
    padding: 0;
  }
}

#primary .woocommerce-input-wrapper input, #primary .woocommerce-input-wrapper textarea {
  border: 1px solid #eee;
  padding: 8px 15px;
  border-radius: 5px;
}

#primary .form-row, #primary .woocommerce-input-wrapper {
  width: 100%;
}

#primary h2, #primary h3 {
  color: $red;
  text-transform: uppercase;
}

#primary .woocommerce-billing-fields {
  margin-bottom: 20px;
}

.woocommerce table.shop_table {
  th, td {
    font-size: 1.6rem;
  }
}
.woocommerce-NoticeGroup {
  width: 100%;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
.woocommerce table.shop_table th,
.woocommerce ul.order_details li strong,
.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th{
  font-weight: 500;
}
p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received{
  color: #00aa1c;
}
.woocommerce ul.order_details {
  margin-bottom: 1.5rem;
  padding-left: 0;
  li{
    width: 100%;
    border-right: 0;
    margin-bottom: 1rem;
  }
}
.woocommerce a.remove{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  width: 2rem;
  height: 2rem;
}
